In [1]:
print("hi")

hi

In [3]:
import sys
sys

Data types

In [14]:
#numeric datatype
a= 5;
d=4.3
l=1.2+5j
print(type(d))
print(type(l))
b=2
c=a+b
c
j='strinfhbhjfbd'
j

<class 'float'>
<class 'complex'>

'strinfhbhjfbd'

In [16]:
p=(3**2)
p

9

In [17]:
print(type(True))

<class 'bool'>

In [18]:
#typecastin
print(bool(0))     # False
print(bool(10))    # True
print(bool(""))    # False
print(bool("hi"))  # True

False
True
False
True

In [7]:
x = str(3);z=str(4)   # x will be '3'
y = int(3)   
print(type(x))
print(type(y))
print(x+z)

<class 'str'>
<class 'int'>
34

In [16]:
#global function
def myfunc():
    print("hihfsdickjx"+z)
myfunc()

hihfsdickjx4

ðŸ§® Python Data Types (Total = 8)

1ï¸âƒ£ Text Type
âž¡ï¸ str

2ï¸âƒ£ Numeric Types
âž¡ï¸ int, float, complex

3ï¸âƒ£ Sequence Types
âž¡ï¸ list, tuple, range

4ï¸âƒ£ Mapping Type
âž¡ï¸ dict

5ï¸âƒ£ Set Types
âž¡ï¸ set, frozenset

6ï¸âƒ£ Boolean Type
âž¡ï¸ bool

7ï¸âƒ£ Binary Types
âž¡ï¸ bytes, bytearray, memoryview

8ï¸âƒ£ None Type
âž¡ï¸ NoneType

In [18]:
ba = bytearray(b"abc")
print(ba)

bytearray(b'abc')


Operator	Name	Example	Try it
+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y

Assignment Operators
Assignment operators are used to assign values to variables:

Operator	Example	Same As	Try it
=	x = 5	x = 5	
+=	x += 3	x = x + 3	
-=	x -= 3	x = x - 3	
*=	x *= 3	x = x * 3	
/=	x /= 3	x = x / 3	
%=	x %= 3	x = x % 3	
//=	x //= 3	x = x // 3	
**=	x **= 3	x = x ** 3	
&=	x &= 3	x = x & 3	
|=	x |= 3	x = x | 3	
^=	x ^= 3	x = x ^ 3	
>>=	x >>= 3	x = x >> 3	
<<=	x <<= 3	x = x << 3	
:=	print(x := 3)	x = 3
print(x)

In [22]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:5] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'mango']

In [ ]:
print(50<<2)
print(50>>2
)
10<<2
5288>>3

40<<2

200
12

160

list

In [37]:
thislist = ["jay", "bdfdsfsdf", "cdsfdfdy","jay", "bdfdsfsdf", "cdsfdfdy","jay", "bdfdsfsdf", "cdsfdfdy"]
print(thislist[1])
print(thislist[2:8])
print(thislist[:2])
print(thislist[5:])
print(thislist[-5:-1])

bdfdsfsdf
['cdsfdfdy', 'jay', 'bdfdsfsdf', 'cdsfdfdy', 'jay', 'bdfdsfsdf']
['jay', 'bdfdsfsdf']
['cdsfdfdy', 'jay', 'bdfdsfsdf', 'cdsfdfdy']
['bdfdsfsdf', 'cdsfdfdy', 'jay', 'bdfdsfsdf']

In [39]:
#change list items
thislist = ["apple", "banandjsncsa", "chedskjcnkjrry"]
thislist[1] = "jay"

print(thislist)

['apple', 'jay', 'chedskjcnkjrry']

In [3]:
thislist = ["apple", "banana", "cherry","apple", "banana", "cherry","apple", "banana", "cherry","apple", "banana", "cherry","apple", "banana", "cherry","apple", "banana", "cherry"]
thislist.insert(1, "watermelon")
thislist.append("orange")
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'watermelon', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'orange']

In [4]:

print(len(thislist))

21

In [7]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list11 = ["abc", 34, True, 40, "male"]

In [8]:
print(type(list1))

<class 'list'>

In [10]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [13]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("vgjhkbn xsdcfvgbhjnkmlmjnhbgvfcdxfcgv hbnt")

vgjhkbn xsdcfvgbhjnkmlmjnhbgvfcdxfcgv hbnt

In [17]:
thislist = ["jay", "cars", "bmw"]
thislist[1:3] = ["hummer", "ford"]
print(thislist)

['jay', 'hummer', 'ford']

In [18]:

thislist.insert(2, "king")
print(thislist)

['jay', 'hummer', 'king', 'ford']

In [19]:

thislist.append("hiiiii")
print(thislist)

['jay', 'hummer', 'king', 'ford', 'hiiiii']

In [ ]:
thistuple = ("jjjjjjjjjjjjjjjjjjjjjjjj", "hihihihi")
thislist.extend(thistuple)
print(thislist)

['jay', 'hummer', 'king', 'ford', 'hiiiii', 'kiwi', 'orange', 'jjjjjjjjjjjjjjjjjjjjjjjj', 'hihihihi']

In [24]:
thislist.remove("jay")
print(thislist)

['hummer', 'king', 'ford', 'hiiiii', 'kiwi', 'orange', 'jjjjjjjjjjjjjjjjjjjjjjjj', 'hihihihi']

In [27]:
thislist.pop(1)
print(thislist)

['hummer', 'kiwi', 'orange', 'jjjjjjjjjjjjjjjjjjjjjjjj', 'hihihihi']

In [29]:
thislist.pop()
print(thislist)

['hummer', 'kiwi', 'orange']

In [30]:
del thislist[0]

In [31]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
thislist.remove("banana")#this will remove banana from the list
thislist.pop(1)#this will remove item at index 1
del thislist[0]#this will delete item at index 0
thislist.pop()#print(thislist)
del thislist#this will delete the entire list
thislist.clear()#clears the list contents

In [36]:
thislist = ["jay", "bmw", "xmmas"]
for x in thislist:
  print(x)

jay
bmw
xmmas

In [41]:
for i in range(len(thislist)):
  print(thislist[i])

jay
bmw
xmmas

In [38]:
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

jay
bmw
xmmas

In [ ]:
#Looping Using List Comprehension
#List Comprehension offers the shortest syntax for looping through lists:

# Example
# A short hand for loop that will print all items in a list:

# thislist = ["apple", "banana", "cherry"]
# [print(x) for x in thislist]

In [42]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [43]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [44]:
   # Example
#Using the list() constructor to make a List:

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [1]:
fruits = ["cycle", "lyuna", "mayback", "mnv", "car"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['lyuna', 'mayback', 'car']

In [2]:
jay = ["jay",'dsxdddcxcsdc']
jat2=[]
for x in jay:
    if 'd' in x:
        jat2.append(x)
print(jat2)

['dsxdddcxcsdc']

In [4]:
n = 7

for i in range(n):
    for j in range(n):
        # border condition
        if i == 0 or i == n-1 or j == 0 or j == n-1:
            print(0, end=" ")
        else:
            # top-left
            if i <= j and i <= n-1-j:
                print(n-1-i, end=" ")
            # top-right
            elif j < i and j < n-1-i:
                print(n-1-j, end=" ")
            # bottom-left
            elif i > j and i > n-1-j:
                print(i, end=" ")
            # bottom-right
            else:
                print(j, end=" ")
    print()

0 0 0 0 0 0 0
0 5 5 5 5 5 0
0 5 4 4 4 5 0
0 5 4 3 4 5 0
0 5 2 4 4 5 0
0 1 5 5 5 5 0
0 0 0 0 0 0 0

In [5]:
n = 7
mid = n // 2

for i in range(n):
    for j in range(n):
        # border
        if i == 0 or i == n-1 or j == 0 or j == n-1:
            print(0, end=" ")

        # top-left
        elif i <= mid and j <= mid:
            print(mid - min(i, j), end=" ")

        # top-right
        elif i <= mid and j > mid:
            print(j - mid, end=" ")

        # bottom-left
        elif i > mid and j <= mid:
            print(i - mid, end=" ")

        # bottom-right
        else:
            print(max(i, j) - mid, end=" ")
    print()

0 0 0 0 0 0 0
0 2 2 2 1 2 0
0 2 1 1 1 2 0
0 2 1 0 1 2 0
0 1 1 1 1 2 0
0 2 2 2 2 2 0
0 0 0 0 0 0 0